name: Release

permissions:
  contents: write

on:
  release:
    types: [published]

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            suffix: linux-x64
          - os: macos-latest
            target: x86_64-apple-darwin
            suffix: macos-x64
          - os: macos-14
            target: aarch64-apple-darwin
            suffix: macos-arm64
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            suffix: windows-x64.exe

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build
        run: cargo build --release --target ${{ matrix.target }} --bins

      - name: Rename binaries
        run: |
          mv target/${{ matrix.target }}/release/move${{ matrix.os == 'windows-latest' && '.exe' || '' }} move-${{ matrix.suffix }}
          mv target/${{ matrix.target }}/release/pp${{ matrix.os == 'windows-latest' && '.exe' || '' }} pp-${{ matrix.suffix }}

      - name: Upload binaries
        uses: softprops/action-gh-release@v1
        with:
          files: |
            move-${{ matrix.suffix }}
            pp-${{ matrix.suffix }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
